body {
  padding-left: 500px;
  padding-top: 200px;
  background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url("./../assets/images/background.jpg");
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#showResponse {
  font-size: 18px;
}


